# Environment variables
.env

# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# IDE
.vscode/

# Chroma database
chromadb/

# Logs
logs/
*.log
# Uploaded documents
uploads/
# OS files
.DS_Store
Thumbs.db